<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component List</title>
</head>
<body>
    <h1>List of Components</h1>
    <ul>
      <li><a routerLink="displayhelloworld">Display Hello World</a></li>
      <li><a routerLink="showhellobutton">Show Hello Button</a></li>
      <li><a routerLink="displayname">Display Name</a></li>
      <li><a routerLink="counter">Counter</a></li>
      <li><a routerLink="simpleform">Simple Form</a></li>
      <li><a routerLink="userage">User Age</a></li>
      <li><a routerLink="usergreeting">User Greeting</a></li>
      <li><a routerLink="calculator">Calculator</a></li>
      <li><a routerLink="textlength">Text Length</a></li>
      <li><a routerLink="currencyconverter">Currency Converter</a></li>
      <li><a routerLink="evenoddchecker">Even Odd Checker</a></li>
      <li><a routerLink="wordreverser">Word Reverser</a></li>
      <li><a routerLink="showdate">Show Date</a></li>
      <li><a routerLink="showusername">Show Username</a></li>
      <li><a routerLink="multiplicationtable">Multiplication Table</a></li>
      <li><a routerLink="simplelogin">Simple Login</a></li>
      <li><a routerLink="fahrenheittocelsius">Fahrenheit To Celsius</a></li>
      <li><a routerLink="bookmarklist">Bookmark List</a></li>
      <li><a routerLink="charactercounter">Character Counter</a></li>
      <li><a routerLink="palindromechecker">Palindrome Checker</a></li>
      <li><a routerLink="temperatureconverter">Temperature Converter</a></li>
      <li><a routerLink="shoppinglist">Shopping List</a></li>
      <li><a routerLink="factorialcalculator">Factorial Calculator</a></li>
      <li><a routerLink="todomanager">To Do Manager</a></li>
      <li><a routerLink="guessnumbergame">Guess Number Game</a></li>
      <li><a routerLink="wordcounter">Word Counter</a></li>
      <li><a routerLink="randomnumbergenerator">Random Number Generator</a></li>
      <li><a routerLink="multiplicationchecker">Multiplication Checker</a></li>
      <li><a routerLink="uppercaseconverter">Uppercase Converter</a></li>
      <li><a routerLink="wordshuffler">Word Shuffler</a></li>
      <li><a routerLink="bmisolver">BMI Solver</a></li>
      <li><a routerLink="usernamevalidator">Username Validator</a></li>
      <li><a routerLink="interestcalculator">Interest Calculator</a></li>
      <li><a routerLink="compoundinterestcalculator">Compound Interest Calculator</a></li>
      <li><a routerLink="fibonaccigenerator">Fibonacci Generator</a></li>
      <li><a routerLink="oddsumcalculator">Odd Sum Calculator</a></li>
      <li><a routerLink="currencyformatter">Currency Formatter</a></li>
      <li><a routerLink="randomquotedisplay">Random Quote Display</a></li>
      <li><a routerLink="uppercasegreeting">Uppercase Greeting Component</a></li>
      <li><a routerLink="divisiblechecker">Divisible Checker</a></li>
      <li><a routerLink="stopwatch">Stopwatch</a></li>
      <li><a routerLink="countdowntimer">Countdown Timer</a></li>
      <li><a routerLink="passwordstrengthchecker">Password Strength Checker</a></li>
      <li><a routerLink="unitconverter">Unit Converter</a></li>
      <li><a routerLink="simplevoting">Simple Voting</a></li>
      <li><a routerLink="diceroller">Dice Roller</a></li>
      <li><a routerLink="randomcolor">Random Color</a></li>
      <li><a routerLink="lettercomparison">Letter Comparison</a></li>
      <li><a routerLink="palindromenumber">Palindrome Number</a></li>
      <li><a routerLink="daysuntilbirthday">Days Until Birthday</a></li>
    </ul>
    
    <router-outlet></router-outlet>
    